<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فرم ثبت نام</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <form class="signup-form" action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>ثبت نام</h2>
        <div class="form-group">
            <label > username : </label>
            <p>{{ form.username }}</p>
        </div>
        <div class="form-group">
             <label > password : </label>
            <p>{{ form.password }}</p>
        </div>
        <div class="form-group">
             <label > email : </label>
            <p>{{ form.email }}</p>
        </div>
        <div class="form-group">
            <label> upload Image : </label>
            {{ form.image }}
        </div>
        <button type="submit">ثبت نام</button>
    </form>
</div>
</body>
</html>
