{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <img src="{{ venue.image.url }}" class="card-img-top" alt="{{ venue.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ venue.title }}</h5>
            <p class="card-text">{{ venue.description }}</p>
            <ul class="list-unstyled">
                <li><strong>زمان:</strong> {{ venue.time }}</li>
                <li><strong>قیمت:</strong> {{ venue.price }} تومان</li>
                <li><strong>ظرفیت:</strong> {{ venue.capacity|default:"نامشخص" }} نفر</li>
            </ul>
            <a href="#" class="btn btn-success">رزرو کنید</a>
        </div>
    </div>
</div>
{% endblock %}
